################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workflow.API/bin/Debug/net8.0
/Workflow.API/obj
/.vs/workflow-sample/FileContentIndex
/.vs
